body{
    font-family: ubuntu;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 3s ease-in-out;
}

img{
    width: 100%;
}

input{
    color: rgba(90, 90, 90, 0.828);
    height: 1.5rem;
    width: 2rem;
    border-radius: 5px;
    border: none;
}

#generar{
    color: rgba(90, 90, 90, 0.828);
    height: 1.7rem;
    width: 4rem;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.relojfecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 30rem;
}

.pHora{
    margin: 0.5rem;
    position: relative;
    text-align: center;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.628);
}
.contraseña{
    color: rgba(255, 255, 255, 0.828);
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    width: 30rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 70%;
    top: 65% 
}

.links{
    color: rgba(255, 255, 255, 0.828);
    border-radius: 5px;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 3%;
    top: 15.5%;
}

.cadaLink{
    margin-top: 1rem;
    font-family: ubuntu;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 23rem;
    text-align: center; 
}

.ingresosLinks{
    display: flex;
    flex-direction: column;
    gap: 12px
}

.climaContenedor{
    border-radius: 5px;
    padding-top: 0.5rem;
    width: 30rem;
    height: 21rem;
    text-align: center;

}

#climaDelDia{
    display: flex;
    text-align: center;
    overflow-x: scroll; /* Me Habilita el scroll horizontal */
    white-space: nowrap; 
    gap: 1rem;
}

#ciudad{
    border-radius: 5px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px
}

.ciudadPais{
    font-size: 1.6rem;
}

p{
    font-size: 15px;
    font-family: ubuntu;
}

.grados{
    font-size: 30px;
}

h1{
    font-size: 20px;
}

.nube{
    padding: 15px;
    height: 6rem;
    width: auto;
}

.nubeData{
    gap: 6rem;
}

.nubeData1{
    display: flex;
    align-items: center;
}

div.nubeData P{
    width: 15rem;
    height: 15px;
}

.pFecha{
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.628);
}

.pFrase{
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.628);
}

.climaContenedor{
    position: absolute;
    top: 15%;
    left: 70%;
    color: rgba(255, 255, 255, 0.828);
}

.inputPass{
    text-align: center;
    font-family: ubuntu;
    width: 19rem;
    color: rgba(255, 255, 255, 0.828);
    height: 1.3rem;
    background-color: rgba(255, 255, 255, 0.828);
    border-radius: 5px;
}

#boton{
    font-family: ubuntu;
    margin-top: 0.5rem;
    width: 19.3rem;
    color: rgba(90, 90, 90, 0.828);
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.828);
    border-radius: 5px;
    border: none;
}

.botonBorrar{
    font-family: ubuntu;
    color: rgba(255, 255, 255, 0.828);
    position: relative;
    background-color: transparent;
    border-radius: 50px;
    border: 2px  rgba(27, 103, 255, 0.684) solid;
    top: 7px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    border: none;
}

a{
    font-family: ubuntu;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.628);
}